body {
    margin: 0;
    background-color: #FFF;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 0;
}

.homepage-tea {
    position: relative;
    width: 100%;
    background-image: url('../images/teabiscuit.jpg');
    height: 300px;
    border-radius: 10px;
    background-size: cover;
}

.homepage-afternoon {
    position: relative;
    width: 100%;
    background-image: url('../images/afternoontea.jpg');
    height: 300px;
    border-radius: 10px;
    background-size: cover;
}

.homepage-crafts {
    position: relative;
    width: 100%;
    background-image: url('../images/crafts.jpg');
    height: 300px;
    border-radius: 10px;
    background-size: cover;
}

.homepage-bed {
    position: relative;
    width: 100%;
    background-image: url('../images/bandb.jpg');
    height: 300px;
    border-radius: 10px;
    background-size: cover;
}

.homepage-blue-cover {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #18ABCA;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    visibility: hidden;
}

.homepage-offer-h2 {
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    visibility: hidden;
}

.access-bar {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #000000;
    font-weight: 300;
    font-size: 2em;
    line-height: 25px;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.facilities {
    font-size: 2em;
}

label {
    text-align: right;
    width: 100%;
    font-weight: 300;
    font-size: 2em;
    line-height: 25px;
    margin: 0;
    padding: 5px;
    float: left;
}

#hidden-button {
    visibility: hidden;
}

input {
    width: 40%;
    padding: 5px;
    margin: 2px;
}
select {
    width: 40%;
    padding: 5px;
    margin: 2px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 10%;
    padding: 5px;
    margin: 2px;
    margin-right: 44%;
}

input[type="submit"] {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    background-color: limegreen;
    color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    font-size: 0.8em;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color:chartreuse;
    cursor: pointer;
}

fieldset {
    border-color: #FFFFFF;
    border-radius: 10px;
}

.top-banner {
    background-color: #CCC;
    float: right;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner-image {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    float: right;
}

header {
    width: 100%;
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 175px;
    margin-bottom: 10px;
    text-align: left;
}

nav li {
    list-style: none;
    font-weight: 300;
    font-size: 1.8em;
    display: inline-block;
}

nav li a:link {
    color: #000000;
    text-decoration: none;
    border-bottom: thick solid #7e4e24;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

nav li a:visited {
    color: #CCC;
    text-decoration: none;
    border-bottom: thick solid #CCC;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

nav li a:hover,
a:active {
    color: #7e4e24;
    text-decoration: none;
    border-bottom: thick solid #7e4e24;
}

.currentpage {
    color: #000000 !important;
    text-decoration: none;
    border-bottom: thick solid #7e4e24 !important;
    font-weight: 700;
}

.currentpage:hover {
    color: #000000;
    text-decoration: none;
    border-bottom: thick solid #7e4e24;
}

.content-box-3 {
    width: 33.33333333333333%;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
}

.content-box-2 {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.content-box-1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    float: left;
}

.content-padding {
    padding: 40px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.blue-offer {
    background-color: #18ABCA;
    text-align: center;
    color: #FFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: thick solid #CCC;
    box-sizing: border-box;
    padding: 20px;
    height: auto;
}

.blue-offer-image {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.blue-content-box {
    background-color: #18ABCA;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    border-top: thick solid #CCC;
    box-sizing: border-box;
    padding: 20px;
    height: auto;
}

.blue-content-box p {
    font-size: 3em;
    line-height: 50px;
    color: #FFF;
    margin: 0;
}

.spacer {
    margin-top: 15px;
}

.center {
    text-align: center;
}

p {
    color: #000000;
    font-weight: 300;
    font-size: 2em;
    line-height: 25px;
    margin: 0;
}

p a:link {
    color: #7e4e24;
    text-decoration: none;
}

p a:visited {
    color: #CCC;
    text-decoration: none;
}

p a:hover a:active {
    color: #c5b358;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    font-style: italic;
    border-top: thin solid #CCC;
    padding: 15px;
    padding-bottom: 0;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 2.8em;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 2.5em;
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

h5 {
    font-weight: 700;
    font-size: 1.8em;
    margin: 0;
}

h6 {
    font-weight: 700;
    font-size: 1.6em;
    margin: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

hr {
    border: 0;
    border-bottom: thin solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    border-top: thick solid #7e4e24;
    float: right;
    background-color: #CCC;
    width: 100%;
    margin-top: 50px;
}

.footer-logo {
    float: right;
}

.footer-box {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
}

.copyright {
    padding-left: 3%;
    font-weight: 300;
    font-size: 1.2em;
}

a.button, {
    background-color: #18ABCA;
    color: #ffffff;
    border: 0px;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    padding: 15px;
    font-size: 1.8em;
    font-weight: 400;
    text-decoration: none;
}

a.button:hover {
    background-color: #169FBC;
}

address {
    color: #000000;
    font-weight: 300;
    font-size: 2em;
    line-height: 25px;
    margin: 0;
}


/* Styles for mobile devices with screen sizes under 480px */

@media screen and (max-width: 480px) {
    .banner-image {
        display: block;
        padding-left: 25%;
        padding-right: 25%;
    }
    .container {
        max-width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .content-box-3 {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        float: left;
    }
    .content-box-2 {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }
    .content-box-1 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
    }
    p {
        color: #000000;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 25px;
        margin: 0;
    }
    p a:link {
        color: #7e4e24;
        font-size: 1.5em;
        text-decoration: none;
    }
    p a:visited {
        color: #CCC;
        font-size: 1.5em;
        text-decoration: none;
    }
    p a:hover a:active {
        color: #c5b358;
        font-size: 1.5em;
        text-decoration: none;
    }
    #phone-spacer {
        margin-top: 20px;
    }
    .footer-logo {
        float: left;
    }
    .footer-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 25px;
        margin-bottom: 25px;
        float: left;
    }
}